### 1. Load data

In [5]:
import pandas as pd

df = pd.read_excel('../../data/landing/crime_stat_March_2023.xlsx', sheet_name='Table 03')
print(df.shape)
df.head()

(359132, 9)

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Offence Count
0,2023,March,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,1
1,2023,March,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1
2,2023,March,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B42 Steal from a motor vehicle,2
3,2023,March,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B49 Other theft,1
4,2023,March,Alpine,3691,Dederang,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1

### 2. Select Columns

In [6]:
df = df[['Year', 'Year ending', 'Postcode', 'Suburb/Town Name', 'Offence Division', 'Offence Count']]
print(df.shape)
df.head()

(359132, 6)

,Year,Year ending,Postcode,Suburb/Town Name,Offence Division,Offence Count
0,2023,March,3691,Dederang,A Crimes against the person,1
1,2023,March,3691,Dederang,A Crimes against the person,1
2,2023,March,3691,Dederang,B Property and deception offences,2
3,2023,March,3691,Dederang,B Property and deception offences,1
4,2023,March,3691,Dederang,D Public order and security offences,1

### 3. Ensure datatypes

In [7]:
convert_schema = {'Year': 'str',
                               'Year ending': 'str',
                               'Postcode': 'str',
                               'Suburb/Town Name': 'str',
                               'Offence Division': 'str',
                               'Offence Count': 'Int64'}
df = df.astype(convert_schema)

### 4. Save data

In [8]:
df.to_csv('../../data/raw/crime.csv')